*{
	padding: 0;
	margin: 0;
}
body{
  background: url(http://wrbbradio.org/wp-content/uploads/2016/10/grey-background-07.jpg) no-repeat center fixed;
  background-size: cover;
}
.header {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 10px;
  }

.container{
	background: #2d3e3f;
	width: 450px;
	height: 450px;
	padding-bottom: 20px;
	position: absolute;
	top:53%;
	left: 70%;
	transform: translate(-50%, -50%);
	margin: auto;
  padding: 70px 50px 20px 50px;
  border-radius: 10px;
}


.fl{
	float: left;
  width: 110px;
  line-height: 45px;
}

.fontLabel{
  color: white;
}

.fr{
	text-align: center;
}

.clr{
	clear: both;
}

.box{
  text-align: center;
	width: 360px;
	height: 35px;
	margin-top: 20px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 22px;
    color: #f2f2f2;
    
}
.textBox{
	height: 35px;
	width: 190px;
	border: none;
  padding-left: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.new{
  float: left;
}



.button{
	float: left;
	border: none;
	color: white;
	width: 200px;
	height: 40px;
	border-radius: 12px;
	background: #ff6600;
	text-transform: uppercase;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
  cursor: pointer;
  font-weight: bold;

}
.button:hover{
	background-color: #4CAF50;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn{
	float: right;
	border: none;
	color: white;
	width: 210px;
	margin-right: 20;
	height: 40px;
	border-radius: 12px;
	background: #ff6600;
	text-transform: uppercase;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  font-size:14px ;
  font-weight: bold;
}
.btn:hover
{
	background-color: #4CAF50;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button1{
	background-color:orangered; 
	color: white; 
	border-radius: 12px;
  }
  .button2{
	background-color: orangered; 
	color: white; 
	border-radius: 12px;
  
  }
  .button1:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }
  .button2:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }
::-webkit-input-placeholder { /* Chrome/Opera/Safari */

}
.topnav {
    background-color: #333;
    overflow: hidden;
	width:1540px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 24px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  background-color:orangered;
}