@import url('https://fonts:googleapis.com/css2? family=Poppins:wght@700&display=swap');
*{
	padding: 0;
	margin: 0;
}
body{
  background:url(http://wrbbradio.org/wp-content/uploads/2016/10/grey-background-07.jpg) no-repeat center fixed;
  object-fit:  cover;
  position: fixed;
}
.topnav {
    background-color: #333;
    overflow: hidden;
    width:1540px;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 24px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav-right {
  float: right;
  background-color:orangered;
}

h1{
    text-align: center;
    font-weight: bolder;
    padding-top: 40px;
    font-size: 60px; 
    
}
.button1{
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  border-radius: 12px;
}
.button2{
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  border-radius: 12px;

}
.button3{
    

  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  border-radius: 12px;


}
.button4{
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  border-radius: 12px;

}
.button1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button2:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button3:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button4:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button1:hover{
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
  
  .button2:hover{
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .button3:hover{
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .button4:hover{
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .button{
    background-color:orangered; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 7ex;
    margin-left: 40px;
    margin-right: 2ex;
    transition-duration: 0.4s;
    cursor: pointer;
    width:320px;
}
.animate-charcter
{
   margin-left: 230px;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear;
  display: inline-block;
      font-size: 80px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}