*{
	padding: 0;
	margin: 0;
}
body{
  background: url(http://wrbbradio.org/wp-content/uploads/2016/10/grey-background-07.jpg) no-repeat center fixed;
  background-size: cover;
}
.header {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 10px;
  }

  .sih-image {
    background-image: url("sih.png");
    background-position: left;
    background-repeat: no-repeat;
    height: 100px;
    background-size: auto;
  }

.container{
	background: #2d3e3f;
	width: 450px;
	height: 450px;
	padding-bottom: 20px;
	position: absolute;
	top:53%;
	left: 70%;
  border-radius: 10px;
	transform: translate(-50%, -50%);
	margin: auto;
  padding: 70px 50px 20px 50px;
}


.fl{
	float: left;
  width: 130px;
  line-height: 45px;
}

.fontLabel{
  color: white;
}

.fr{
	float: left;
}

.clr{
	clear: both;
}

.box{
	width: 360px;
	height: 35px;
	margin-top: 30px;
  /* padding-left: 100px; */
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 19px;
  color: #f2f2f2;
    
}
.file{
  margin-left: 140px;
  margin-top: -20px;
}
.fr{
	text-align: center;
}
.textBox{
	height: 35px;
	width: 190px;
	border: none;
  padding-left: 20px;
  margin-left: 140px;
  margin-top: -40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
    background-color: orangered;
    border: none;
    color: white;
    margin-left: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 5px 5px 5px;
    width: 110px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
  }
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    }

  /* Darker background on mouse-over */
  .button:hover {
    background-color:  #4CAF50;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
.textBox{
	height: 35px;
	width: 190px;
	border: none;
  padding-left: 30px;
}

.new{
  float: left;
}


.radio{
	color: white;
	background: #2d3e3f;
	line-height: 38px;
}

.terms{
	line-height: 35px;
	text-align: center;
	background: #2d3e3f;
	color: white;
}

.submit{
	float: right;
	border: none;
	color: white;
	width: 110px;
	height: 35px;
	background: #ff6600;
	text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}




.topnav {
    background-color: #333;
    overflow: hidden;
    width:1540px;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 24px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  background-color:orangered;
}

